---
import Layout from '../layouts/Layout.astro';
import EquipoComponent from '../components/Equipo.astro';
---

<Layout title="El Equipo">
  <div class="pt-12">
    <EquipoComponent />
  </div>
</Layout>