---
import Layout from '../layouts/Layout.astro';
import ExperienciasComponent from '../components/Experiencias.astro';
---

<Layout title="La Experiencia">
  <div class="pt-12">
    <ExperienciasComponent />
  </div>
</Layout>