---
import Layout from '../layouts/Layout.astro';
import MakingOfComponent from '../components/MakingOf.astro';
---

<Layout title="Making Of">
  <div class="pt-12">
    <MakingOfComponent />
    <source src="/pasos-de-tradicion/assets/videos/making-of.mp4" type="video/mp4" />
  </div>
</Layout>