---
import Layout from '../layouts/Layout.astro';
import MakingOfComponent from '../components/MakingOf.astro';
---

<Layout title="Making Of">
  <div class="pt-12">
    <MakingOfComponent />
  </div>
</Layout>