---
import Layout from '../layouts/Layout.astro';
import ProyectoComponent from '../components/Proyecto.astro';
---

<Layout title="El Proyecto">
  <div class="pt-12"> <ProyectoComponent />
  </div>
</Layout>